# Premier table

https://www.premierleague.com/tables

In [1]:
from selenium import webdriver
import pandas as pd
import requests

import requests
import time
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd

In [2]:
#mainTableTab active
driver =  webdriver.Chrome()
driver.get('https://www.premierleague.com/tables')

In [30]:
table = driver.find_elements_by_xpath('//*[@class="tableContainer"]')[0]
table.find_elements_by_css_selector("tr:not(.expandable)")[1].text

'1\nManchester City 27 23 3 1 79 20 +59 72'

In [62]:
table_list = table.text.split(" ")
table_list

['This',
 'table',
 'charts',
 'the',
 'Premier',
 'League',
 'teams\nPosition\nClub\nPlayed\nWon\nDrawn\nLost\nGF',
 'GA',
 'GD\nPoints\n1\nManchester',
 'City',
 '27',
 '23',
 '3',
 '1',
 '79',
 '20',
 '+59',
 '72\n2\nLiverpool',
 '28',
 '16',
 '9',
 '3',
 '65',
 '32',
 '+33',
 '57\n3\nManchester',
 'United',
 '27',
 '17',
 '5',
 '5',
 '51',
 '19',
 '+32',
 '56\n4\nChelsea',
 '27',
 '16',
 '5',
 '6',
 '49',
 '23',
 '+26',
 '53\n5\nTottenham',
 'Hotspur',
 '27',
 '15',
 '7',
 '5',
 '52',
 '24',
 '+28',
 '52\n6\nArsenal',
 '27',
 '13',
 '6',
 '8',
 '51',
 '36',
 '+15',
 '45\n7\nBurnley',
 '28',
 '9',
 '10',
 '9',
 '22',
 '25',
 '-3',
 '37\n8\nLeicester',
 'City',
 '28',
 '9',
 '9',
 '10',
 '40',
 '41',
 '-1',
 '36\n9\nEverton',
 '28',
 '9',
 '7',
 '12',
 '32',
 '47',
 '-15',
 '34\n10\nWatford',
 '28',
 '9',
 '6',
 '13',
 '38',
 '47',
 '-9',
 '33\n11\nBournemouth',
 '28',
 '8',
 '8',
 '12',
 '33',
 '43',
 '-10',
 '32\n12\nBrighton',
 'and',
 'Hove',
 'Albion',
 '28',
 '7',
 '10',
 '11',
 '26',
 '37',
 '-11',
 '31\n13\nWest',
 'Ham',
 'United',
 '28',
 '7',
 '9',
 '12',
 '35',
 '50',
 '-15',
 '30\n14\nHuddersfield',
 'Town',
 '28',
 '8',
 '6',
 '14',
 '25',
 '48',
 '-23',
 '30\n15\nNewcastle',
 'United',
 '28',
 '7',
 '8',
 '13',
 '27',
 '38',
 '-11',
 '29\n16\nSouthampton',
 '28',
 '5',
 '12',
 '11',
 '29',
 '41',
 '-12',
 '27\n17\nCrystal',
 'Palace',
 '27',
 '6',
 '9',
 '12',
 '25',
 '42',
 '-17',
 '27\n18\nSwansea',
 'City',
 '28',
 '7',
 '6',
 '15',
 '21',
 '41',
 '-20',
 '27\n19\nStoke',
 'City',
 '28',
 '6',
 '8',
 '14',
 '28',
 '54',
 '-26',
 '26\n20\nWest',
 'Bromwich',
 'Albion',
 '28',
 '3',
 '11',
 '14',
 '22',
 '42',
 '-20',
 '20']

In [63]:
table_list[10:17]

['27', '23', '3', '1', '79', '20', '+59']

In [64]:
table_list[18:25]

['28', '16', '9', '3', '65', '32', '+33']

In [65]:
table_list[27:34]

['27', '17', '5', '5', '51', '19', '+32']

In [16]:
len(table_list)

127

In [21]:
team_list = []
for i in range(7, len(table_list), 6):
    team_list.append(table_list[i:i+5])
    
team_list

[['27', '23', '3', '1', '+59'],
 ['28', '16', '9', '3', '+33'],
 ['27', '17', '5', '5', '+32'],
 ['27', '16', '5', '6', '+26'],
 ['27', '15', '7', '5', '+28'],
 ['27', '13', '6', '8', '+15'],
 ['28', '9', '10', '9', '-3'],
 ['28', '9', '9', '10', '-1'],
 ['28', '9', '7', '12', '-15'],
 ['28', '9', '6', '13', '-9'],
 ['28', '8', '8', '12', '-10'],
 ['28', '7', '10', '11', '-11'],
 ['28', '7', '9', '12', '-15'],
 ['28', '8', '6', '14', '-23'],
 ['28', '7', '8', '13', '-11'],
 ['28', '5', '12', '11', '-12'],
 ['27', '6', '9', '12', '-17'],
 ['28', '7', '6', '15', '-20'],
 ['28', '6', '8', '14', '-26'],
 ['28', '3', '11', '14', '-20']]

In [22]:
team_name = []
for i in range(6, len(table_list)-1, 6):
    team_name.append(table_list[i][-3:])
    
team_name

['MCI',
 'LIV',
 'MUN',
 'CHE',
 'TOT',
 'ARS',
 'BUR',
 'LEI',
 'EVE',
 'WAT',
 'BOU',
 'BHA',
 'WHU',
 'HUD',
 'NEW',
 'SOU',
 'CRY',
 'SWA',
 'STK',
 'WBA']

In [23]:
team_point = []
for i in range(12, len(table_list), 6):
    team_point.append(table_list[i][:2])
    
team_point

['72',
 '57',
 '56',
 '53',
 '52',
 '45',
 '37',
 '36',
 '34',
 '33',
 '32',
 '31',
 '30',
 '30',
 '29',
 '27',
 '27',
 '27',
 '26',
 '20']

In [24]:
for i in range(20):
    team_list[i].append(team_point[i])
team_list

[['27', '23', '3', '1', '+59', '72'],
 ['28', '16', '9', '3', '+33', '57'],
 ['27', '17', '5', '5', '+32', '56'],
 ['27', '16', '5', '6', '+26', '53'],
 ['27', '15', '7', '5', '+28', '52'],
 ['27', '13', '6', '8', '+15', '45'],
 ['28', '9', '10', '9', '-3', '37'],
 ['28', '9', '9', '10', '-1', '36'],
 ['28', '9', '7', '12', '-15', '34'],
 ['28', '9', '6', '13', '-9', '33'],
 ['28', '8', '8', '12', '-10', '32'],
 ['28', '7', '10', '11', '-11', '31'],
 ['28', '7', '9', '12', '-15', '30'],
 ['28', '8', '6', '14', '-23', '30'],
 ['28', '7', '8', '13', '-11', '29'],
 ['28', '5', '12', '11', '-12', '27'],
 ['27', '6', '9', '12', '-17', '27'],
 ['28', '7', '6', '15', '-20', '27'],
 ['28', '6', '8', '14', '-26', '26'],
 ['28', '3', '11', '14', '-20', '20']]

In [53]:
pi = [team_list[i][0] for i in range(20)]
w = [team_list[i][1] for i in range(20)]
d = [team_list[i][2] for i in range(20)]
l = [team_list[i][3] for i in range(20)]
gd = [team_list[i][4] for i in range(20)]
pts = [team_list[i][5] for i in range(20)]

In [58]:
df= pd.DataFrame(columns = ["Name", "PI", "W", "D", "W", "L", "GD", "Pts"])
df["Name"] = team_name
df["PI"] = pi
df["W"] = w
df["D"] = d
df["L"] = l
df["GD"] = gd
df["Pts"] = pts
df

   Name  PI   W   D   W   L   GD Pts
0   MCI  27  23   3  23   1  +59  72
1   LIV  28  16   9  16   3  +33  57
2   MUN  27  17   5  17   5  +32  56
3   CHE  27  16   5  16   6  +26  53
4   TOT  27  15   7  15   5  +28  52
5   ARS  27  13   6  13   8  +15  45
6   BUR  28   9  10   9   9   -3  37
7   LEI  28   9   9   9  10   -1  36
8   EVE  28   9   7   9  12  -15  34
9   WAT  28   9   6   9  13   -9  33
10  BOU  28   8   8   8  12  -10  32
11  BHA  28   7  10   7  11  -11  31
12  WHU  28   7   9   7  12  -15  30
13  HUD  28   8   6   8  14  -23  30
14  NEW  28   7   8   7  13  -11  29
15  SOU  28   5  12   5  11  -12  27
16  CRY  27   6   9   6  12  -17  27
17  SWA  28   7   6   7  15  -20  27
18  STK  28   6   8   6  14  -26  26
19  WBA  28   3  11   3  14  -20  20

In [1]:
def PremierLeague2(number=20):

    driver = webdriver.Chrome()
    driver.get("https://www.premierleague.com/tables")
    contents = driver.find_elements_by_css_selector("#mainContent .tableBodyContainer tr:not(.expandable)")[:number]
   
    df = pd.DataFrame(columns=["Position", "Club", "Played", "Won", "Drawn", "Lost", "GF", "GA", "GD", "Points"])
    
    for content in contents:
        
        Position = content.find_element_by_css_selector(".value").text 
        Club = content.find_element_by_css_selector(".team .long").text
        Played = content.find_elements_by_css_selector("td")[3].text #td:nth-child(4)
        Won = content.find_elements_by_css_selector("td")[4].text
        Drawn = content.find_elements_by_css_selector("td")[5].text
        Lost = content.find_elements_by_css_selector("td")[6].text
        GF = content.find_elements_by_css_selector("td")[7].text
        GA = content.find_elements_by_css_selector("td")[8].text
        GD = content.find_elements_by_css_selector("td")[9].text
        Points = content.find_elements_by_css_selector("td")[10].text
        
        data = {"Position": Position,
                "Club": Club, 
                "Played": Played,
                "Won": Won, 
                "Drawn": Drawn, 
                "Lost" : Lost,
                "GF" : GF,
                "GA" : GA,
                "GD" : GD,
                "Points" : Points}
        
        df.loc[len(df)] = data
    driver.close()
    return df

In [4]:
PremierLeague2()

,Position,Club,Played,Won,Drawn,Lost,GF,GA,GD,Points
0,1,Manchester City,27,23,3,1,79,20,+59,72
1,2,Manchester United,28,18,5,5,53,20,+33,59
2,3,Liverpool,28,16,9,3,65,32,+33,57
3,4,Tottenham Hotspur,28,16,7,5,53,24,+29,55
4,5,Chelsea,28,16,5,7,50,25,+25,53
5,6,Arsenal,27,13,6,8,51,36,+15,45
6,7,Burnley,28,9,10,9,22,25,-3,37
7,8,Leicester City,28,9,9,10,40,41,-1,36
8,9,Everton,28,9,7,12,32,47,-15,34
9,10,Watford,28,9,6,13,38,47,-9,33
10,11,Bournemouth,28,8,8,12,33,43,-10,32
11,12,Brighton and Hove Albion,28,7,10,11,26,37,-11,31
12,13,West Ham United,28,7,9,12,35,50,-15,30
13,14,Huddersfield Town,28,8,6,14,25,48,-23,30
14,15,Newcastle United,28,7,8,13,27,38,-11,29
15,16,Southampton,28,5,12,11,29,41,-12,27
16,17,Crystal Palace,28,6,9,13,25,43,-18,27
17,18,Swansea City,28,7,6,15,21,41,-20,27
18,19,Stoke City,28,6,8,14,28,54,-26,26
19,20,West Bromwich Albion,28,3,11,14,22,42,-20,20

In [3]:
def PremierLeague3():
    
    r = requests.get('https://www.premierleague.com/tables')
    rt = TextResponse(r.url, body=r.text, encoding='utf-8')
    mrt = rt.xpath('//*[@class="tableBodyContainer"]')
    contents = mrt[0].xpath("tr[@class != 'expandable']")

    df = pd.DataFrame(columns=["Position", "Club", "Played", "Won", "Drawn", "Lost", "GF", "GA", "GD", "Points"])
    
    for content in contents:
        
        Position = content.xpath('td[2]/span[1]/text()').extract()[0]
        Club = content.xpath('td[3]/a/span[2]/text()').extract()[0]
        Played = content.xpath('td[4]/text()').extract()[0]
        Won = content.xpath('td[5]/text()').extract()[0]
        Drawn = content.xpath('td[6]/text()').extract()[0]
        Lost = content.xpath('td[7]/text()').extract()[0]
        GF = content.xpath('td[8]/text()').extract()[0]
        GA = content.xpath('td[9]/text()').extract()[0]
        GD = content.xpath('td[10]/text()').extract()[0].strip()
        Points = content.xpath('td[11]/text()').extract()[0]
        
        data = {"Position" : Position,
                "Club" : Club, 
                "Played" : Played,
                "Won" : Won,
                "Drawn" : Drawn,
                "Lost" : Lost,
                "GF" : GF,
                "GA" : GA,
                "GD" : GD,
                "Points" : Points}

        df.loc[len(df)] = data
    return df

In [10]:
import requests
from scrapy.http import TextResponse

In [11]:
PremierLeague3()

,Position,Club,Played,Won,Drawn,Lost,GF,GA,GD,Points
0,1,Manchester City,27,23,3,1,79,20,+59,72
1,2,Manchester United,28,18,5,5,53,20,+33,59
2,3,Liverpool,28,16,9,3,65,32,+33,57
3,4,Tottenham Hotspur,28,16,7,5,53,24,+29,55
4,5,Chelsea,28,16,5,7,50,25,+25,53
5,6,Arsenal,27,13,6,8,51,36,+15,45
6,7,Burnley,28,9,10,9,22,25,-3,37
7,8,Leicester City,28,9,9,10,40,41,-1,36
8,9,Everton,28,9,7,12,32,47,-15,34
9,10,Watford,28,9,6,13,38,47,-9,33
10,11,Bournemouth,28,8,8,12,33,43,-10,32
11,12,Brighton and Hove Albion,28,7,10,11,26,37,-11,31
12,13,West Ham United,28,7,9,12,35,50,-15,30
13,14,Huddersfield Town,28,8,6,14,25,48,-23,30
14,15,Newcastle United,28,7,8,13,27,38,-11,29
15,16,Southampton,28,5,12,11,29,41,-12,27
16,17,Crystal Palace,28,6,9,13,25,43,-18,27
17,18,Swansea City,28,7,6,15,21,41,-20,27
18,19,Stoke City,28,6,8,14,28,54,-26,26
19,20,West Bromwich Albion,28,3,11,14,22,42,-20,20